<div class="px-6 my-6">
  <button
    onclick="location.href='{{url}}'"
    class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
        {{title}}
      </font>
    </font>
    <span class="ml-2" aria-hidden="true">+</span>
  </button>
</div>
